<!doctype html>

<title>What is the ticket?</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
    
    
    <div class=page>
      <h1>Ticket closing price history</h1>
      <div class=metanav>
        <h4>                                                                                                                
          Please enter the ticket number 
          <br>
          and number of calendar days to go back from today
        </h4>
        
        <form id='submit' method='post' action="/">
          <p>
    	Ticket: <input type='text' name='ticket' value = 'aapl'/>
          </p>
          <p>
    	Days: <input type='number' name='days' value = '30'/>
          </p>
          <p>
    	<input type='submit' value='Submit' />
          </p>
        </form>

      </div>
    </div>
